@model MVCFundamentals.Models.Employee
@{
    ViewBag.Title = "Detail";
}

<h2>@Model.FirstName @Model.LastName</h2>
<h4>@Model.Title</h4>
<h4>@($"{Model.HireDate:D}")</h4>
<h4>@Model.City</h4>
<h4>@Model.Region</h4>
<h4>@Model.Country</h4>
<h4>@($"{Model.BirthDate:D}")</h4>
@if (Model.Employee1 != null)
{
    <h4>
        Amiri: @(Model.Employee1?.FirstName + " " + Model.Employee1?.LastName) 
        <small>@Model.Employee1.Title</small>
    </h4>
}
@if (Model.Employees1.Count > 0)
{
    <h4>
        Altındakiler:
        <ul>
            @foreach (var alt in Model.Employees1)
            {
                <li>
                    @alt.FirstName @alt.LastName
                    <small>@alt.Title</small>
                </li>
            }
        </ul>
    </h4>
}
